@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}

.wrapper {
    padding: 4rem 17rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.349)), url(img/bg-pic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55rem;
    font-family: "Roboto", sans-serif;
}
.navbar {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    display: flex;
    background: white;
    font-family: "Roboto", sans-serif;
}
.logo {
    font-size: 2rem;
    font-weight: 500;
}

.menu_bar {
    position: relative;
    display: flex;
    padding: 1.5rem 0;
}

.menu_bar_items {
    position: relative;
    margin-left: 2rem;
    transition: 0.5s;
}

.menu_bar_items:hover {
    color: rgb(81, 223, 181);
    cursor: pointer;
}

.home_section {
    color: white;
}

.home_section_article {
    margin-top: 16rem;
    padding-right: 40rem;
}

.home_title {
    font-size: 3.5rem;
    font-weight: bold;
}

.home_text {
    font-size: 1rem;
}

.start-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    background-color: rgb(81, 223, 181);
    transition: 0.2s;
}

.start-btn:hover {
    color: rgb(81, 223, 181);
    background-color: white;
    cursor: pointer;
}
.start-btn:active {
    color: white;
    background-color: rgb(81, 223, 181);
}

.about_page {
    display: flex;
    margin-top: 28rem;
}

.about_page_photo {
    max-height: 520px;
}
.expireince {
    position: absolute;
    top: 90rem;
    left: 40rem;
    padding: 20px;
    background: #007bff;
    color: white;
}
.expireince_text {
    line-height: 3rem;
    font-weight: 100;
}

.learn_button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    background-color: rgb(81, 223, 181);
    transition: 0.2s;
}
.learn_button:hover {
    background: #777777;
    cursor: pointer;
}
.learn_button:active {
    border: 2px solid rgb(81, 223, 181);
}

.about_us_article {
    padding: 6rem 8rem;
}
.pre_title {
    color: rgb(81, 223, 181);
    font-weight: 400;
}

.title {
    font-size: 2.4rem;
    color: #027bff;
    margin-bottom: 1rem;
    font-weight: bold;
}
.text {
    opacity: 0.7;
}

.team_section_title {
    margin-top: 20rem;
    margin-bottom: 5rem;
    text-align: center;
}
.team_wrapper {
    display: flex;
    margin-bottom: 8rem;
}
.about_people {
    color: rgba(0, 0, 0, 0.479);
    text-align: center;
    padding: 0 3.5rem;
}
.team_status {
    margin: 1rem 0;
    font-weight: 200;
}

.team_photo {
    max-width: 10rem;
    border-radius: 10rem;
    margin-bottom: 3rem;
}

.social_media {
    margin: 1.4rem 0;
}

.work_table {
    display: flex;
}
.table_items {
    padding: 0 3rem;
    margin-top: 4rem;
}
.work_text {
    margin: 0 0 1rem 0;
    opacity: 0.5;
    line-height: 2rem;
}

.work_list_items {
    padding: 1rem 0;
    opacity: 0.5;
    font-size: 1rem;
}

.service_section {
    margin: 10rem 0;
    text-align: center;
}

.service_box{
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.514);
    display: grid;
    gap: 3rem 3rem;
    grid-template-columns: auto auto auto;
    text-align: left;
}
.service_items{
    display: flex;
    padding: 0 2rem;
}

.service_img{
    margin: 0 1.4rem;
}
.service_items_text{
    margin: 1rem 0;
}
.learn_more{
    color: #51dfb5;
}
.learn_more:hover{
    color: #58b498;
    cursor: pointer;
}

.testimonials_section{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.testimonial_team_text{
    padding: 0 14rem;
    margin-top: 3rem;
    font-size: 1.4rem;
}
.testimonial_team{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;

}
.testimonial_team img{
    max-width: 4rem;
    border-radius: 4rem;
    margin: 0 1rem;
}